<div class="container">
  <nav class="navbar navbar-inverse bg-inverse">

    <a class="navbar-brand" href="#">Boats List</a>

    <ng-template [ngIf]="this.ifLogin">
      <button class="btn btn-outline-success inline" type="submit"> Hello, {{this.name}}</button>
      <button class="btn btn-outline-success inline" (click)="logout($event)" type="submit">Logout</button>
    </ng-template>

    <ng-template [ngIf]="!this.ifLogin && this.ifRegister">
      <div class="form-inline">
        <input (keyup)="onKeyName($event)" class="form-control inline" type="text" placeholder="Full Name">
        <input (keyup)="onKeyPw($event)" class="form-control inline" type="password" placeholder="PassWord">
        <input (keyup)="onKeyPw2($event)" class="form-control inline" type="password" placeholder="PassWord Check">
        <input (keyup)="onKeyUserName($event)" class="form-control inline" type="text" placeholder="UserName">
        <button class="btn btn-outline-success inline" (click)="addUser($event)" type="submit">Register</button>
        <p class="text-danger">{{this.registerError}}</p>
      </div>
    </ng-template>

    <ng-template [ngIf]="!this.ifLogin && !this.ifRegister">
     <div class="form-inline">
        <a class="navbar-brand" (click)="register($event)">Register</a>
        <input (keyup)="onKeyLogin($event)" class="form-control inline" type="text" placeholder="Login">
        <input (keyup)="onKeyPwLog($event)" class="form-control inline" type="password" placeholder="PassWord">
        <button class="btn btn-outline-success inline" (click)="login($event)" type="submit">Login</button>
        <p class="text-danger">{{this.loginError}}</p>
      </div>
    </ng-template>
    
    
  </nav>
</div>

<lists_boat [userName]= this.name ></lists_boat>
